<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1 style="color: white">Employee</h1>
        </div>
    </div>
</nav>
<div class="container p-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
<div class="card">
    <div class="card-header bg-success text-center fs-4" style="font-size: large;">View Employee Details</div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark" style="font-size: large; text-align: center;">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr class="" style=" text-align: center;">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
            </div>
        </div>
</div>
</body>
</html>
